@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir.woff2') format('woff2'),
        url('../fonts/Vazir.woff') format('woff'),
        url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-Bold.woff2') format('woff2'),
        url('../fonts/Vazir-Bold.woff') format('woff'),
        url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-Thin.woff2') format('woff2'),
        url('../fonts/Vazir-Thin.woff') format('woff'),
        url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-Light.woff2') format('woff2'),
        url('../fonts/Vazir-Light.woff') format('woff'),
        url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-Medium.woff2') format('woff2'),
        url('../fonts/Vazir-Medium.woff') format('woff'),
        url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}



@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-Black.woff2') format('woff2'),
        url('../fonts/Vazir-Black.woff') format('woff'),
        url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: "Booter";
    src: url("components/Shop/Fonts/Booter-ZeroZero.woff") format("woff"),
        url("components/Shop/Fonts/Booter-ZeroZero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------- End of fonts ---------------------------------- */
* {

    box-sizing: border-box !important;
    /* overflow-x: hidden !important; */

}

body {
    font-family: 'Vazir';

}

::-webkit-input-placeholder {
    color: #777;
    font-size: 12px;
}

::-webkit-scrollbar {
    display: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    line-height: 1.8;
}

/* utilities */

.hover-grow {
    transition: all .5s;
}

.hover-grow:hover {
    transform: scale(1.1);
}

.text-justify-md {
    text-align: justify;
}

/* section1,2 : header css */
.header-scrolled {
    background-color: #fff;
    box-shadow: 0px 2px 20px rgb(1 41 112/10%);
}

.nav-transiton {
    transition: all 1s
}

@media (max-width: 768px) {
    .nav-bg {
        background: #fff;
    }
}

@media (min-width: 0px) {
    .right {
        margin-top: 100px;
    }
}

/* وقتی عرض صفحه نمایش بین 576 پیکسل و 992 پیکسل باشه */
@media screen and (min-width: 576px) {
    .right {
        margin-top: 200px;
    }
}

/* وقتی عرض صفحه نمایش از 768 پیکسل به بالا باشه */
@media screen and (min-width: 768px) {
    .right {
        margin-top: 0px;
    }
}

/* section3: intro css */

.intro {
    height: 100vh;
    width: 100% !important;
    background: url("../img/intro/intro-bg.png") top center no-repeat;
    background-size: cover;
}

/* section4 : card-values */
.card-hover {
    transition: all .5s ease-in-out;
}

.card-hover:hover {
    transform: scale(0.97);
    border-color: #0d6efd !important;
}

/* section5 : counts */
.counts i {
    font-size: 42px;
}

.counts i.blue {
    color: #4154f1;
}

.counts i.orange {
    color: #ee6c20;
}

.counts i.green {
    color: #15be56;
}

.counts i.red {
    color: #bb0852;
}

/* section6 : features */
.features i {
    font-size: 44px;
    color: rgb(65, 84, 241);
}

/* section7: services */
.services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s;

}

.services .service-box .icon {
    font-size: 36px;
    padding: 20px;
    line-height: 0;
    display: inline-block;
    border-radius: 4px;
}

.services .service-box .read-more {
    font-weight: bold;
}

.services .service-box:hover .read-more a {
    color: #fff
}

.services .service-box .read-more i {
    font-size: 18px;
    line-height: 0;
    margin-right: 0.4rem;
    padding: 0;
}

/* service-box blue */
.services .service-box.blue {
    border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue:hover {
    background-color: #2db6fa;
    color: #fff;
}

.services .service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}

.services .service-box.blue .read-more a {
    color: #2db6fa
}

.services .service-box.blue:hover .read-more a {
    color: #fff
}

/* service-box orange */
.services .service-box.orange {
    border-bottom: 3px solid #f68c09;
}

.services .service-box.orange:hover {
    background-color: #f68c09;
    color: #fff;
}

.services .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
}

.services .service-box.orange .read-more a {
    color: #f68c09
}

.services .service-box.orange:hover .read-more a {
    color: #fff
}

/* service-box green */
.services .service-box.green {
    border-bottom: 3px solid #08da4e;
}

.services .service-box.green:hover {
    background-color: #08da4e;
    color: #fff;
}

.services .service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
}

.services .service-box.green .read-more a {
    color: #08da4e
}

.services .service-box.green:hover .read-more a {
    color: #fff
}

/* section8 : pricing */
.card .btn-outline-danger {
    border-color: #ff0071 !important;

}

.card .btn-outline-danger:hover {
    background-color: #ff0071 !important;
    color: #fff !important;
}

.card .btn-outline-warning {
    border-color: #ff901c !important;
    color: #ff901c !important;

}

.card .btn-outline-warning:hover {
    background-color: #ff901c !important;
    color: #000 !important;

}

.card .btn-outline-success {
    border-color: #65c600 !important;
    color: #65c600 !important;

}

.card .btn-outline-success:hover {
    background-color: #65c600 !important;
    color: #fff !important;

}

.card .btn-outline-primary {
    border-color: #07d5c0 !important;
    color: #07d5c0 !important;

}

.card .btn-outline-primary:hover {
    background-color: #07d5c0 !important;
    color: #fff !important;

}



@media (min-width: 768px) {
    .card {
        transition: all .3s;
    }

    .card:hover {
        transform: scale(1.09);
    }
}